*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root{
    height: 100vh;
}

.leaflet-container{
    height: 100vh;
}

#nav{
    width: 550px;
    height: 100px;
    top: 20px;
    right: 20px;
    position: absolute;
    z-index: 400;
    padding: 10px;
}

#nav button{
    width: 100px;
    height: 40px;
}