.change-password-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.change-password-form {
    width: 300px;
    text-align: center;
    margin-top: 100px;
}

.change-password-container > .form-element {
    margin-bottom: 8px;
}

.change-password-label {
    display: block;
    margin-bottom: 4px;
    text-align: left;
    margin-top: 10px;
}

.change-password-input {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    margin-top: 10px;
    border: 2px solid #dcdcdc;
    background-color: #f2f2f2;
    outline: none;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.change-password-input:hover,
.change-password-input:focus {
    border: 2px solid #27ae60;
    background-color: #fff;
}

.change-password-button {
    margin-top: 30px;
    width: 40%;
    padding: 10px;
    background-color: rgba(0, 82, 4, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
}

.change-password-button:hover {
    background-color: green;
}

.profile-header {
    background-color: rgba(0, 82, 4, 0.5);
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
}

.profile-header h1 {
    font-family: "Roboto Thin", sans-serif;
    font-weight: lighter;
    margin-left: 10px;
}

.back-button {
    background-color: rgba(0, 82, 4, 0.5);
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
}


