.favorites-header {
    background-color: rgba(0, 82, 4, 0.5);
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}

.favorites-header h1 {
    font-family: "Roboto Thin", sans-serif;
    font-weight: lighter;
    margin-left: 30px;
}

.back-button {
    background-color: rgba(0, 82, 4, 0.5);
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
}

#favorites {
    padding: 30px;
}

.favRow {
    display: flex;
    justify-content: space-evenly;

    flex-wrap: wrap;
}

.card {
    width: 300px;
    height: 260px;
    box-shadow: 0 0 10px rgba(0, 68, 4, 0.5);
    border-radius: 5px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: calc(25% - 40px); /* Adjust as needed based on margin and desired spacing */
    box-sizing: border-box;
    background-image: url('resources/map.webp');
    background-size: cover; /* Ensure the image covers the entire element */
    background-position: center;
}

.card .cardFt {
    width: 100%;
    height: 50px;
    padding: 10px;
    background: darkseagreen;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardTitle {
    padding: 10px;
    color: white;
    font-weight: bold;
    font-style: italic;
    font-family: "Courier New", serif;
    text-shadow: 5px 5px 5px rgba(0, 68, 4, 0.5);
}

.favorite {
    font-size: 30px;
    padding: 5px;
}

.heartButton {
    background: #6f8191;
    box-shadow: 0 0 5px rgba(0, 82, 4, 0.5);
    border-radius: 5px;
    width: 60px;
    font-family: "Courier New", serif;
    font-size: 16px;
    font-weight: bold;
}


.heartButton:hover {
    background: dimgray;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

