*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root{
    height: 100vh;
}

.leaflet-container{
    height: 100vh;
}

#top-bar{
    display: grid;
    justify-content: space-between;
    align-items: start;
    grid-template-columns: 2fr 5fr 1fr;
}

#nav {
    margin-inline: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 550px;
    height: 100px;
    z-index: 400;
    padding: 10px;
    margin-top: 5px;
}

#nav button {
    flex: 1;
    height: 40px;
    margin: 0 5px;
}

#search-bar {
    position: relative; /* Add this line */
    top: 0;
    left: 10px;
    z-index: 500;
    display: grid;
    align-items: center;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 1fr;
}


#search-bar input{
    box-sizing: border-box;
    width: 300px;
    height: 50px;
    padding: 8px;
    margin-right: 8px;
    border: 1px solid #282c34;
    border-radius: 20px;
    position: relative;
    display: inline-block;
}

#search-bar button{
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}
.suggestions-dropdown {
    top: 100%; /* Adjust this value as needed */
    left: 0;
    z-index: 500;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd; /* Add a bottom border for separation */
}

.suggestion-item:last-child {
    border-bottom: none; /* Remove bottom border for the last item */
}

.suggestion-item:hover,
.suggestion-item.active {
    background-color: #f0f0f0;
}


#profile-icon{
    padding: 5px;
    z-index: 500;
    cursor: pointer;
}

#dropdown-basic{
    width: 100px;
    height: 100px;
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: 2px solid #3498db;
}

#dropdown-basic img {
    width: 95px;
    height: 95px;
    border-radius: 50%;
}

#dropdown-menu {
    width: 100px;
    background: whitesmoke;
    border: 1px solid darkslategray;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

#dropdown-menu .dropdown-item {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: darkslategray;
    font-size: 14px;
}

.leaflet-popup-content {
    margin: 0;
}

.leaflet-popup-content-wrapper {
    width: 340px;
}

.rating {
    display: flex;
    align-items: center;
}

.emptyStar {
    color: whitesmoke; /* Color for empty star */
    cursor: pointer;
}

.filledStar {
    color: black; /* Color for filled star */
    cursor: pointer;
}

.averageRating {
    margin-left: 10px;
    font-size: 14px;
}