.profile-header {
    background-color: rgba(0, 82, 4, 0.5);
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}

.profile-header h1 {
    font-family: "Roboto Thin", sans-serif;
    font-weight: lighter;
    margin-left: 30px;
}

.back-button {
    background-color: rgba(0, 82, 4, 0.5);
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
}

#profile-icon-acc{
    padding: 5px;
    z-index: 500;
    cursor: pointer;
}

#profile-icon-acc img {
    width: 100px;
    height: 100px;
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: 2px solid #3498db;
}

#settings {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 40%;
    padding: 30px;
    margin: 80px;
}

.row {
    display: flex;
    align-items: center;
    height: 120px;
}

.row div {
    display: flex;
    padding-right: 20px;
    width: 110px;
    justify-content: end;
}

.row button {
    width: 200px;
    height: 30px;
    margin-left: 10px;
}