.route-planner-sidebar {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0; /* Change this value to 0 */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
}
.route-planner-sidebar h2 {
    margin-bottom: 10px;
}

.route-planner-sidebar button {
    display: block;
    margin-top: 20px;
}


.site-list {
    list-style: none;
    padding: 0;
}

.site-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.site-name {
    font-size: 1rem;
    margin-right: 8px;
    flex-grow: 1;
}

.delete-button {
    max-width: 80px; /* Set a maximum width for delete buttons */
    flex-shrink: 0; /* Prevent shrinking */
    padding: 6px 12px;
    font-size: 0.9rem;
    background-color: #ff4444;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #cc0000;
}
